__pycache__/
*.py[cod]

.coverage
.coverage.*
.hypothesis/
.mypy_cache/
.nox/
.pytest_cache/
.ruff_cache/
htmlcov/

.venv
.venv*/
env/
venv/

build/
dist/
*.egg-info/

docs/_build/
src/*/_version.py

node_modules/
.idea/
.DS_Store
